extends layout

block content
	h1.mt-4 Liquid Caclulator
	section.container
	form
		.row
			.col-md-3
				.form-group
					label Gesamtmenge Liquid:
					input.form-control(type='number', name='targetTotal')
					.input-group-append
						span.input-group-text ml
			.col-md-3
				.form-group
					label Nikotinmenge Konzentrat:
					input.form-control(type='number', name='sourceNicotine')
		.row
			.col-md-3
				.form-group
					label Zielmenge Nikotin:
					input.form-control(type='number', name='targetNicotine')
			.col-md-3
				.form-group
					label Menge Aroma:
					input.form-control(type='number', name='targetFalvour')
		.row
			.col-md-3
				input.form-control.btn.btn-success(type='submit')